
/* --------- */
/* CSS RESET */
/* --------- */

:root{
	--color-bg: #291b25;
	--color-bg-light: #3e2b3a;
	--color-primary: #d5374e;
	--color-primary-dark: #8b1d2e;
	--color-accent: #fca048;

	--color-text: rgb(218, 218, 218);
	--color-text-bright: rgb(255, 255, 255);

	--color-grey: rgb(102, 102, 102);

	--ff-heading: 'Days One', sans-serif;
	--ff-body: 'Saira', sans-serif;
	
	--fs--2: clamp(0.7901rem, 0.7855rem + 0.0232vi, 0.8rem);
	--fs--1: clamp(0.8889rem, 0.8366rem + 0.2614vi, 1rem);
	--fs-0: clamp(1rem, 0.8824rem + 0.5882vi, 1.25rem);
	--fs-1: clamp(1.125rem, 0.9191rem + 1.0294vi, 1.5625rem);
	--fs-2: clamp(1.2656rem, 0.9421rem + 1.6176vi, 1.9531rem);
	--fs-3: clamp(2.1094rem, 1.6314rem + 2.3897vi, 3.125rem);

	--fs-4: clamp(3.0034rem, 1.5445rem + 7.2944vi, 6.1035rem);
	--fs-5: clamp(3.3788rem, 1.3785rem + 10.0014vi, 7.6294rem);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
	background-color: var(--color-bg);
	font-family: var(--ff-body);
}

.body-wrapper {
	color: var(--color-text);
	font-size: var(--fs-1);
	line-height: 1.6;
}

.body-wrapper,
.full-width {
	--padding-inline: 1.5rem;
	--content-max-width: 60ch;
	display: grid;
	grid-template-columns:
		[full-width-start]
		minmax(var(--padding-inline), 1fr)
		[content-start]
		min(100% - var(--padding-inline) * 2, var(--content-max-width))
		[content-end]
		minmax(var(--padding-inline), 1fr)
		[full-width-end]
	;
}

.body-wrapper > :not(.full-width),
.full-width > :not(.full-width) {
	grid-column: content;
}

.body-wrapper > .full-width {
	grid-column: full-width;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

a {
	color: inherit;
	transition: color 0.5s;
}

.body-wrapper h1 {
	line-height: 1.1;
	font-family: var(--ff-heading);
	color: var(--color-accent);
	font-size: var(--fs-4);
	margin-top: 1em;
	text-wrap: balance;
}

.body-wrapper h2 {
	line-height: 1.1;
	color: var(--color-primary);
	font-size: var(--fs-3);
	font-weight: 700;
	margin-top: 1.5em;
}

.body-wrapper em {
	color: var(--color-text-bright);
}

::marker {
	color: var(--color-accent);
}

.flow > * + * {
	margin-top: 1em;
}

.bg-light {
	background-color: var(--color-bg-light);
}

a:hover,
a:focus{
	color: var(--color-accent);
}

/* ----------- */
/* HEADER HERO */
/* ----------- */

.header-hero img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.header-hero {
	position: relative;
	width: 100%;
	height: 100dvh;
	padding: 1rem;
	background:
		radial-gradient(circle, transparent 50%, black 150%),
		url("../img/102scroll1-violet-size2.gif"),
		var(--color-primary-dark);

	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.nav-hero ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem 2rem;
	line-height: 1.35;
	list-style: none;
	font-size: 2rem;
}

/* -------------- */
/* BUTTON STYLING */
/* -------------- */

.button-container {
	--button-width: 250px;
	--button-height: 50px;
	width: var(--button-width);
	height: var(--button-height);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-container .button-svg {
	pointer-events: none;
	position: absolute;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	inset: -5px;
}

.button-container .button-line {
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	fill: transparent;
	x: 5px;
	y: 5px;
	stroke: var(--color-primary);
	stroke-width: 4px;
	stroke-dasharray: var(--button-height) var(--button-width);
	stroke-dashoffset: var(--button-height);
	transition: stroke-dasharray 500ms, stroke 500ms, stroke-dashoffset 500ms;
}

.button-container:hover rect,
.button-container:focus-within rect
{
	stroke: var(--color-accent);
	stroke-dasharray: calc(var(--button-height) + var(--button-width)) 0px;
	stroke-dashoffset: calc(var(--button-height) * -1);
}

.button-container a {
	text-decoration: none;
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
}

.button-container p {
	color: var(--color-text-bright);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
	transition: 500ms;
}

.button-container a:hover p {
	color: var(--color-accent);
}

.button-container.unselectable,
.button-container.unselectable p,
.button-container.unselectable rect,
.button-container.unselectable:hover rect, 
.button-container.unselectable:focus-within rect {
	stroke: var(--color-grey);
	color: var(--color-grey);
}

/* --------- */
/* LOGO HERO */
/* --------- */

.header-hero:hover {
	--logo-slideScale: 1;
}

.logo-hero {
	--logo102-slideX: 0;
	--logo102-slideY: 0;
	--logoChars-slideX: 0;
	--logoChars-slideY: 0;
	/* max-width: min(90vw, 1360px); */
	/* max-height: min(80vh, 970px); */
	aspect-ratio: 1360/970;
	min-height: 0;
	flex-shrink: 1;

	position: relative;
	isolation: isolate;
	transform: translate( calc(var(--logo102-slideX)*var(--logo-slideScale)) , calc(var(--logo102-slideY)*var(--logo-slideScale)) );
	transition: 250ms cubic-bezier(0.5, 1, 0.89, 1);
	will-change: transform;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.logo-hero > img {
	grid-column: 1 / -1;
	position: absolute;
	pointer-events: none;
}

.logo-hero > img:nth-of-type(1){
	opacity: 0.7;
	position: relative;
}

.logo-hero > div {
	position: absolute;
}

.logo-hero > div:nth-of-type(1) {
	z-index: 10;
	grid-column: 1 / 2;
	inset: 0;
}

.logo-hero > div:nth-of-type(2) {
	z-index: 10;
	grid-column: 2 / 3;
	inset: 0;
}

.logo-hero > div:nth-of-type(3) {
	z-index: 10;
	grid-column: 3 / 4;
	inset: 0;
}

.character_container{
	grid-column: 1 / 4;
	inset: 0;
}

.character_container > * {
	position: absolute;
	top: 0;
	transform: translate( calc(var(--logoChars-slideX)*var(--logo-slideScale)) , calc(var(--logoChars-slideY)*var(--logo-slideScale)) );
	transition: 250ms cubic-bezier(0.5, 1, 0.89, 1);
	will-change: transform;
	pointer-events: none;
}

.logo-hero > div:nth-of-type(1):hover ~ .character_container > .logo_1,
.logo-hero > div:nth-of-type(2):hover ~ .character_container > .logo_0,
.logo-hero > div:nth-of-type(3):hover ~ .character_container > .logo_2 {
	opacity: 1;
}

.logo-hero > div:nth-of-type(1):hover ~ .logo_1n,
.logo-hero > div:nth-of-type(2):hover ~ .logo_0n,
.logo-hero > div:nth-of-type(3):hover ~ .logo_2n {
	opacity: 0.25;
}

.logo_1, .logo_0, .logo_2, .logo_1n, .logo_0n, .logo_2n  {
	opacity: 0;
	transition: 250ms cubic-bezier(0.5, 1, 0.89, 1);
}

/* ------------- */
/* HEADER NORMAL */
/* ------------- */

.header-normal {
	position: sticky;
	top: 0;
	z-index: 100;

	width: 100%;
	height: 5rem;
	padding-inline: 1rem;
	background:
		url("../img/102scroll1-violet-size2.gif"),
		var(--color-bg-light);

	display: flex;
	gap: 2rem;

	justify-content: space-between;
	align-items: center;
	border-bottom: 4px solid var(--color-primary);
	/* overflow: hidden; */
}

.logo-normal {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	/* outline: 2px solid blue ; */
}

.logo-normal span {
	--button-width: 100px;
	--button-height: 50px;
	width: 100px;
	height: 50px;
}

.logo-normal img {
	height: 30px;
}

.logo-normal svg {
	z-index: 1;
}

.nav-normal ul {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5px;
	gap: 1rem 2rem;
	line-height: 1.35;
	list-style: none;
	font-size: 2rem;
}

.nav-normal li {
	--button-width: 150px;
	--button-height: 50px;
	display: flex;
	justify-content: center;
	gap: 1rem 2rem;
	line-height: 1.35;
	list-style: none;
	font-size: 1.3rem;
}

@media (max-width: 900px) {
	.header-normal {
		padding-top: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem 2rem;
		height: auto;
		top: -4.4rem;
		transition: 500ms;
	}
	.header-normal::after {
		content: "";
		position: absolute;
		bottom: 9px;
		width: 20px;
		height: 20px;
		border: 4px solid var(--color-primary);
		border-left: 0;
		border-top: 0;
		transform: rotate(45deg);
		transition: 500ms;
	}
	.nav-normal {
		display: grid;
		grid-template-rows: 0fr;
		transition: 500ms;
	}
	.nav-normal ul {
		padding-inline: 5px;
		padding-block: 0px;
		transition: 500ms;
	}
	.header-normal[aria-expanded="true"] .nav-normal,
	.nav-normal:focus-within {
		grid-template-rows: 1fr;
	}
	.header-normal[aria-expanded="true"] .nav-normal ul,
	.nav-normal:focus-within ul {
		padding-inline: 5px;
		padding-block: 5px;
		margin-bottom: 2rem;
	}
	.header-normal[aria-expanded="true"],
	.nav-normal:focus-within ul {
		top: 0;
	}
	.header-normal[aria-expanded="true"]::after {
		transform: rotate(-135deg);
		bottom: -2px;
	}
}