:root{
	--color-main: #d5374e;
	--color-accent: #fca048;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a{
	color: inherit;
	transition: color 0.5s;
}

a:hover,
a:focus{
	color: var(--color-accent);
}

body {
	background-color: #130a0b;
	color: white;
	font-family: 'Saira', sans-serif;
	font-size: 1rem;
}

header {
	position: relative;		
	width: 100%;
	height: 100dvh;
	background:
		radial-gradient(circle, transparent 50%, black 150%),
		url("../img/102scroll1-red-size2.gif");
	display: grid;
	place-content: center;
	overflow: hidden;
}

main {
	position: relative;
}

img {
	max-width: 100%;
	display: block;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h1 {
	font-family: 'Days One', sans-serif;
	font-size: 5rem;
}

nav {
	display: flex;
	/* border: solid blue 1px; */
	justify-content: center;
}

nav ul {
	display: grid;
	gap: 2rem 5rem;
	line-height: 1.35;
	list-style: none;
	font-size: 2rem;
}

nav li {
	width: 200px;
	height: 50px;
	position: relative;
	display: flex;
	align-items: center;
}

nav li a {
	display: block;
	flex: 1;
	text-align: center;
	outline: none;
}

/* 
nav li:focus-within {
	border: solid var(--color-accent);
	border-width: 0.2rem ;
} */

.button-container {
	pointer-events: none;
	position: absolute;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	inset: -5px;
}

.button-line {
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	fill: transparent;
	x: 5px;
	y: 5px;
	stroke: var(--color-main);
	stroke-width: 4px;
	stroke-dasharray: 50px 200px;
	stroke-dashoffset: 50px;
	transition: stroke-dasharray 500ms, stroke 500ms;
}

nav li:hover rect,
nav li:focus-within rect
{
	stroke: var(--color-accent);
	stroke-dasharray: 250 0px;
}

nav a {
	text-decoration: none;
}

@media (min-width: 850px) {
	nav ul {
		grid-template-columns: 1fr 1fr 1fr;
	}
	nav li {
		max-width: 200px;
	}
}

/* LOGO STUFF */

header:hover {
	--logo-slideScale: 1;
}

.logo_container {
	--logo102-slideX: 0;
	--logo102-slideY: 0;
	--logoChars-slideX: 0;
	--logoChars-slideY: 0;
	max-width: min(90vw, 1360px);
	max-height: min(80vh, 970px);
	aspect-ratio: 1360/970;
	margin-block: 2rem;
	margin-inline: auto;
	position: relative;
	isolation: isolate;
	transform: translate( calc(var(--logo102-slideX)*var(--logo-slideScale)) , calc(var(--logo102-slideY)*var(--logo-slideScale)) );
	transition: 250ms cubic-bezier(0.5, 1, 0.89, 1);
	will-change: transform;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.logo_container > img {
	grid-column: 1 / -1;
	position: absolute;
	pointer-events: none;
}

.logo_container > img:nth-of-type(1){
	opacity: 0.7;
	position: relative;
}

.logo_container > div {
	position: absolute;
}

.logo_container > div:nth-of-type(1) {
	z-index: 10;
	grid-column: 1 / 2;
	inset: 0;
}

.logo_container > div:nth-of-type(2) {
	z-index: 10;
	grid-column: 2 / 3;
	inset: 0;
}

.logo_container > div:nth-of-type(3) {
	z-index: 10;
	grid-column: 3 / 4;
	inset: 0;
}

.character_container{
	grid-column: 1 / 4;
	inset: 0;
}

.character_container > * {
	position: absolute;
	top: 0;
	transform: translate( calc(var(--logoChars-slideX)*var(--logo-slideScale)) , calc(var(--logoChars-slideY)*var(--logo-slideScale)) );
	transition: 250ms cubic-bezier(0.5, 1, 0.89, 1);
	will-change: transform;
	pointer-events: none;
}

.logo_container > div:nth-of-type(1):hover ~ .character_container > .logo_1,
.logo_container > div:nth-of-type(2):hover ~ .character_container > .logo_0,
.logo_container > div:nth-of-type(3):hover ~ .character_container > .logo_2 {
	opacity: 1;
}

.logo_container > div:nth-of-type(1):hover ~ .logo_1n,
.logo_container > div:nth-of-type(2):hover ~ .logo_0n,
.logo_container > div:nth-of-type(3):hover ~ .logo_2n {
	opacity: 0.25;
}

.logo_1, .logo_0, .logo_2, .logo_1n, .logo_0n, .logo_2n  {
	opacity: 0;
	transition: 250ms cubic-bezier(0.5, 1, 0.89, 1);
}